<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= data.name%>
    </title>
    <!-- <link rel="stylesheet" href="/34/SecondApp/public /app.css"> -->
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <h1>
        Brousing the
        <%= data.name%>
            subredit
    </h1>
    <h2>Discription : <%=data.description%>
    </h2>
    <h3>Subscribers : <%= data.subscribers %>
    </h3>

    <%for(let post of data.posts){%>
        <article>
            <p>
                <%=post.title%>- <b>
                        <%=post.author%>
                    </b>
            </p>
            <%if(post.img){%>
                <img src="<%=post.img%>" alt="">
                <%}%>
        </article>
        <%}%>

</body>

</html>